<div>
  <table class="w-full">
    <thead>
      <tr class="h-[40px]">
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Sun</h1>
        </th>
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Mon</h1>
        </th>
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Tue</h1>
        </th>
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Wed</h1>
        </th>
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Thu</h1>
        </th>
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Fri</h1>
        </th>
        <th class="border text-sm">
          <h1 class="text-right mr-[4px]">Sat</h1>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="text-center h-[160px]">
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-slate-400 text-right mr-[4px]">31</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">1</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">2</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">3</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">4</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">5</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">6</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr class="text-center h-[160px]">
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">7</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">8</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-red-900 py-[8px] font-medium">Leave</h1>
              </div>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">9</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-red-900 py-[8px] font-medium">Leave</h1>
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">10</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">11</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">12</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">13</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr class="text-center h-[160px]">
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">14</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div
                class="bg-violet-50 py-[8px] text-white rounded p-1 text-sm mb-1"
              >
                <h1 class="text-violet-500 font-medium">Holiday</h1>
                <h1 class="text-black">Independence Day</h1>
              </div>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">15</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">16</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">17</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">18</h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">First Entry - 10:42 AM</h1>
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="relative flex flex-col h-40 overflow-hidden">
            <div class="">
              <h1
                class="absolute text-white rounded px-1 mt-[4px] bg-red-500 right-0 mr-[4px]"
              >
                19
              </h1>
            </div>
            <div class="my-auto cursor-pointer">
              <h1 class="text-sm">Last Entry - 09:28 PM</h1>
              <h1 class="text-sm">Worked For - 07:52:18</h1>
              <div class="flex flex-row mx-[10px] my-[8px]">
                <img
                  src="assets/img/classified.png"
                  class="w-[41px] h-[16px]"
                />
                <img
                  src="assets/img/unclassified.png"
                  class="ml-[2px] w-[110px] h-[16px]"
                />
              </div>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">20</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr class="text-center h-[160px]">
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">21</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">22</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">23</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">24</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">25</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">26</h1>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">27</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr class="text-center h-[160px]">
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">28</h1>
            </div>
            <div class="my-auto px-[8px] w-full cursor-pointer">
              <div class="bg-pink-50 text-white rounded p-1 text-sm mb-1">
                <h1 class="text-pink-600 py-[8px] font-medium">Weekly Off</h1>
              </div>
            </div>
          </div>
        </td>

        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">29</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-right mr-[4px]">30</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-slate-400 text-right mr-[4px]">1</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-slate-400 text-right mr-[4px]">2</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 overflow-hidden">
            <div>
              <h1 class="text-slate-400 text-right mr-[4px]">3</h1>
            </div>
          </div>
        </td>
        <td class="border w-[177px] overflow-auto cursor-pointer">
          <div class="flex flex-col h-40 mx-auto overflow-hidden">
            <div>
              <h1 class="text-slate-400 text-right mr-[4px]">4</h1>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
